---
import Layout from "../layouts/Layout.astro";
import content from "../content/about.json";
import AcordeonTable from "../components/molecules/AcordeonTable.astro";

// _________ Data _________
const experience = content.experience;
const education = content.education;
const trainings = content.trainings;
const volunteer = content.volunteer;
const awards = content.awards;
const certificates = content.certificates;
---

<Layout title="About | Baltac Mihai">
  <main>
    <h1>{content.title}</h1>
    <section class="description">
      <div class="name">
        <h3>{content.fullName}</h3>
        <h4>{content.pronunciation}</h4>
      </div>
      <a href="/resume.pdf" target="_blank" class="btn"
        >{content.resumeBtn.text}</a
      >
      <div class="text">
        {
          content.description?.map((paragraph) => {
            return <p>{paragraph}</p>;
          })
        }
      </div>
    </section>
    <section>
      <AcordeonTable title={awards.title} items={awards.items} />
      <AcordeonTable title={experience.title} items={experience.items} />
      <AcordeonTable title={certificates.title} items={certificates.items} />
      <AcordeonTable title={education.title} items={education.items} />
      <AcordeonTable
        title={trainings.title}
        items={trainings.items}
        isClosed="true"
      />
      <AcordeonTable
        title={volunteer.title}
        items={volunteer.items}
        isClosed="true"
      />
    </section>
  </main>

  <style lang="scss">
    @use "../styles/settings" as *;

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      @include mobile {
        margin-bottom: 10%;
      }

      h1 {
        @extend %title-size;
        margin-top: 3.5rem;
      }

      .description {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        .name {
          flex: 0 0 50%;

          @include mobile {
            flex: 0 0 100%;
          }
          h3,
          h4 {
            margin: 0;

            @include mobile {
              text-align: center;
            }
          }

          h3 {
            @extend %title-size;
          }
          h4 {
            @extend %subtitle-size;
            color: $cl-gray;
          }
        }

        .btn {
          position: relative;
          @extend %text-size;
          background-color: $cl-black;
          color: $cl-white;
          padding: 1rem 2rem;
          border-radius: 10px;

          @include mobile {
            flex: 0 0 100%;
            margin-top: 2rem;
          }
        }

        a.btn {
          text-decoration: none;
        }

        .text {
          flex: 0 0 100%;
          margin: 1rem 0;
          p {
            margin: 2rem 0;
            margin-bottom: 3rem;
            @extend %text-size;
            @include mobile {
              text-align: center;
              margin-right: 0;
            }
          }
        }
      }

      section {
        width: 100%;
      }
    }
  </style>
</Layout>
