---
import Layout from "../layouts/Layout.astro";
import LinkBtn from "../components/atoms/LinkBtn.astro";

// Impoort Content
import content from "../content/home.json";
import ProjectCard from "../components/molecules/ProjectCard.astro";
import GoogleForm from "../components/organisms/GoogleForm.astro";
const rawFirstProject = await Astro.glob("../content/projects/ComponentUi.mdx");
const rawSecondProject = await Astro.glob("../content/projects/Alfastar.mdx");

const projects = [
  rawFirstProject[0].frontmatter,
  rawSecondProject[0].frontmatter,
];

const heroTitleWords = content.heroSection.title.split(" ");
---

<Layout title="Baltac Mihai">
  <section class="hero">
    <h1>
      {
        heroTitleWords?.map((word) => {
          return <span>{word}</span>;
        })
      }
    </h1>
    <p class="description">
      {content.heroSection.subtitle}
    </p>
  </section>

  <section class="about">
    <img src={content.aboutSection.photoUrl} alt="" />
    <div class="description">
      <h3>{content.aboutSection.fullName}</h3>
      <h4>{content.aboutSection.pronunciation}</h4>
      <p>{content.aboutSection.brefDescription}</p>
      <LinkBtn
        href={content.aboutSection.cta.src}
        text={content.aboutSection.cta.text}
      />
    </div>
  </section>

  <section class="projects">
    <div class="header">
      <h2 class="title">{content.projectsSetctions.title}</h2>
      <LinkBtn
        href={content.projectsSetctions.cta.src}
        text={content.projectsSetctions.cta.text}
      />
    </div>
    <div class="container">
      {
        projects?.map((project) => {
          return (
            <ProjectCard
              title={project.title}
              url={"/project/" + project.url}
              imgSrc={project.imageSrc}
              tags={project.tags}
            />
          );
        })
      }
    </div>
  </section>

  <section class="contact">
    <h2 class="title">{content.contactSection.title}</h2>
    <GoogleForm
      formAction={content.contactSection.formAction}
      labelGroup={content.contactSection.labelGroup}
    />
  </section>
</Layout>

<style lang="scss">
  @use "../styles/settings" as *;

  section {
    min-height: 100vh;
    @include mobile {
      height: fit-content !important;
    }

    &.hero {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      $height: 85vh;
      height: $height;
      min-height: $height;

      padding: $lg-size 0;

      @include mobile {
        min-height: 80vh;
      }
      h1 {
        @extend %hero-size;
        letter-spacing: 10px;
        margin: 2rem 0;

        display: flex;
        flex-direction: column;

        span:last-child {
          margin-left: 25%;
        }

        @include tablet {
          text-align: center;

          span:last-child {
            margin-left: 0%;
          }
        }
      }
      .description {
        @extend %text-size;
        width: 50%;
        text-align: right;
        align-self: flex-end;

        @include tablet {
          text-align: center;
          width: 100%;
        }
      }
    }

    &.about {
      display: flex;
      justify-content: space-between;
      height: auto;
      min-height: auto;
      margin: $lg-size 0;
      $img-size: 400px;
      gap: 5%;

      @include tablet {
        flex-direction: column;
      }
      img {
        max-width: $img-size;
        max-height: $img-size;

        border-radius: $border-radius;
        object-fit: cover;
        width: 100%;
        height: 100%;

        @include tablet {
          flex: 0 0 100%;
          margin: 0 auto;
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        position: relative;
        height: $img-size;

        @include tablet {
          flex: 0 0 65%;
        }
        h3 {
          @extend %title-size;

          margin: 0;
          @include tablet {
            text-align: center;
          }
        }
        h4 {
          @extend %subtitle-size;

          margin: 0;
          color: #ccc;
          @include tablet {
            text-align: center;
          }
        }
        p {
          @extend %text-size;

          margin-right: 2rem;
          margin-top: 2rem;
          @include tablet {
            text-align: center;
            margin-right: 0;
          }
        }

        :global(.btn) {
          margin-left: auto;
          @include tablet {
            margin: 0 auto;
          }
        }
      }
    }

    &.projects {
      height: auto;
      min-height: auto;
      padding-bottom: 5vh;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        @include mobile {
          flex-direction: column;
        }
        .title {
          @extend %title-size;
        }
      }

      .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        :global(.project-card) {
          flex: 0 0 45%;
          @include mobile {
            flex: 0 0 100%;
            width: 100%;
            padding: 1rem 0;
          }
        }
      }
    }
    &.contact {
      .title {
        @extend %title-size;
        margin-bottom: 2rem;
      }
    }
  }
</style>
